<footer [ngClass]="{'active': isActive}" class="d-flex flex-wrap justify-content-between">
    <ul class="social-network" >
      <li>
        <a href="https://www.linkedin.com/in/marcospontesal/" target="Linkedin" class="icoLinkedin"
          title="Linkedin">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </li>
      <li>
        <a href="https://github.com/MarcosPontes136" target="Github" class="icoGithub" title="Github">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </li>
    </ul>
  <span class="text-muted" >&copy; 2024 Company, Inc</span>
</footer>
