<body class="container-fluid" >
  <div class="container">
    <h1 class="display-4 fw-bold mt-margin text-center line">Envie um Email</h1>
    <form method="POST" th:action="@{/contato}" id="emailForm" (ngSubmit)="onSubmit()" #Contato>
      <div class="mb-3 fw-bold mt-margin text-white">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Digite seu nome: " required [(ngModel)]="mail.fromName"
          name="nome">
      </div>
      <div class="mb-3 fw-bold text-white">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="name@example.com" required
          [(ngModel)]="mail.fromEmail" name="email">
      </div>
      <div class="mb-3 fw-bold mt-margin text-white">
        <label for="nome">assunto</label>
        <input type="text" class="form-control" id="assunto" placeholder="Digite o assunto: " required [(ngModel)]="mail.subject"
          name="subject">
      </div>
      <div class="mb-3 fw-bold text-white">
        <label for="mensagem">Mensagem</label>
        <textarea type="text" class="form-control" id="mensagem" placeholder="Digite sua mensagem: " rows="3" required [(ngModel)]="mail.text"
          name="mensagem"></textarea>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" style="margin-top: 1.5cm;">
        <button type="submit" class="btn btn-outline-dark fw-bold" onclick="onSubmit">Enviar</button>
      </div>
    </form>
  </div>
</body>
