body {
  background-image: linear-gradient(to right, #000000, #BD5200, #DB4B03, #000000);
  background-attachment: fixed;
  padding: 1cm;
}

.mt-margin{
  margin-top:7.5rem !important;
}

.line {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.button-enviar {
  font-size: larger;
  font-style: italic;
  font-weight: bold;
  border-bottom-width: thick;
}
