<body class="container-fluid padding-space">
  <div [ngClass]="{'active': isActive}" class="feed">

    <app-pop-message></app-pop-message>

    <div class="row mt-5 mb-4">
      <div class="col-md-4 cardMobile">
        <div class="card border-0" style="width: 15rem; margin-top: 1rem; border-radius: 25px;">
          <div class="d-flex justify-content-center" >
            <img src="./../../assets/perfil.png" class="bd-placeholder-img carce" width="240" style="border-radius: 20px 20px 0px 0px;"
              height="240" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice"
              focusable="false">
          </div>
          <div class="card-body color-perfil">
            <h5 class="card-title text-center tamanhoFonte">Marcos Pontes</h5>
            <p class="card-text text-center tamanhoFonte">Desenvolvedor FullStack</p>
            <a href="#" target="_black" class="btn btn-outline-dark d-flex justify-content-center button-style">Sobre mim</a>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <form class="was-validated">
          <div class="mt-2">
            <h3 class="text-center mb-4 text-monospace line">Digite abaixo os seus comentários:</h3>
            <div class="form-group">
              <label for="titulo" class="text-monospace">Nome:</label>
              <input type="text" name="titulo" id="titulo" minlength="3" maxlength="50" class="form-control" placeholder="Digite o seu Nome"
                [(ngModel)]="feed.nome" #titulo = "ngModel" pattern="[A-Za-zÀ-ÿ\s]+" required >

                <div *ngIf="titulo.errors?.['required']" class="invalid-feedback">
                  O campo é obrigatório.
                </div>
                <div *ngIf="titulo.errors?.['minlength']" class="invalid-feedback">
                  Espera-se no mínimo {{ titulo.errors?.['minlength'].requiredLength }} caracteres.
                </div>
                <div *ngIf="titulo.errors?.['pattern']" class="invalid-feedback">
                  Por favor, insira apenas letras.
                </div>
            </div>

            <div class="form-group">
              <label for="mensagem" class="text-monospace">Mensagem:</label>
              <textarea name="textoMensagem" id="textoMensagem" cols="30" rows="4" minlength="5" maxlength="250" class="form-control" placeholder="Digite a sua mensage"
                [(ngModel)]="feed.mensagem" #textoMensagem = "ngModel" required #mensagem = "ngModel"></textarea>

                <div *ngIf="mensagem.errors?.['required']" class="invalid-feedback">
                  O campo é obrigatório.
                </div>
                <div *ngIf="mensagem.errors?.['minlength']" class="invalid-feedback">
                  Espera-se no mínimo {{ mensagem.errors?.['minlength'].requiredLength }} caracteres.
                </div>
            </div>

            <div class="d-flex margin justify-content-end">
              <button type="button" class="btn btn-outline-info w-20 " (click)="registerMessage()"  [disabled]="validButton()">Publicar</button>
            </div>

            <!-- @if (titulo.errors?.['required'] || titulo.errors?.['minlength'] || titulo.errors?.['pattern'] || mensagem.errors?.['minlength'] || mensagem.errors?.['required']) {
              <div class="alert alert-info marginAvisoMensagem" role="alert">
                Necessário preencher os campos acima!
              </div>
            } -->

          </div>
        </form>
        <hr class="mt-5 mb-5">
        <h3 class="text-center mb-5 text-monospace line">Comentários adicionados</h3>
        <div class="container">
          <div class="card mb-4" *ngFor="let feed of listFeed.slice().reverse()">
            <div class="card body" class="form-control">
              <p class="card-text">{{feed.nome}}</p>
              <p class="card-text">{{feed.mensagem}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
