<body class="container-fluid padding-space">
  <div [ngClass]="{'active': isActive}" class="feed">
    <div class="row mt-5 mb-4">
      <div class="col-md-4 cardMobile">
        <div class="card border-0" style="width: 15rem; margin-top: 1rem; border-radius: 25px;">
          <div class="d-flex justify-content-center" >
            <img src="./../../assets/perfil.png" class="bd-placeholder-img carce" width="240" style="border-radius: 20px 20px 0px 0px;"
              height="240" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice"
              focusable="false">
          </div>
          <div class="card-body color-perfil">
            <h5 class="card-title text-center tamanhoFonte">Marcos Pontes</h5>
            <p class="card-text text-center tamanhoFonte">Desenvolvedor FullStack</p>
            <a href="#" target="_black" class="btn btn-outline-dark d-flex justify-content-center button-style">Sobre mim</a>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="mt-2">
          <h3 class="text-center mb-4 text-monospace line">Digite abaixo os seus comentários:</h3>
          <div class="form-group">
            <label for="nome" class="text-monospace sub_titulo">Nome:</label>
            <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Digite o seu Nome"
              [(ngModel)]="feed.nome">
          </div>
          <div class="form-group">
            <label for="mensagem" class="text-monospace sub_titulo">Mensagem:</label>
            <textarea name="texto" id="texto" cols="30" rows="4" class="form-control" placeholder="Digite a sua mensage"
              [(ngModel)]="feed.mensagem"></textarea>
          </div>
          <div class="d-flex margin justify-content-end">
            <button type="button" class="btn btn-outline-info w-20 " (click)="cadastrarMensagem()">Publicar</button>
          </div>
        </div>
        <hr class="mt-5 mb-5">
        <h3 class="text-center mb-5 text-monospace line">Comentários adicionados</h3>
        <div class="container">
          <div class="card mb-4" *ngFor="let feed of listFeed">
            <div class="card body">
              <p class="card-text">{{feed.nome}}</p>
              <p class="card-text">{{feed.mensagem}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
