body {
  background-image: linear-gradient(to right, #000000, #BD5200, #DB4B03, #000000);
  background-attachment: fixed;
  padding: 1cm;
}

.line {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.color-perfil {
  background-image: linear-gradient(to right, #496c78, #38fffa, #38fffa, #496c78);
  font-family: sans-serif;
  font-variant: all-small-caps;
}
.button-style{
  font-size: larger;
  font-style: italic;
  font-weight: bold;
}

.padding-space{
  padding-bottom: 11.5cm;
}


.margin{
  margin-top: 10px;
}
