<body class="container-fluid">
  <header>
    <div class="card-group">
      <div class="card CShenlong" style="margin: 20px;">
      </div>
      <div class="card mt-5 CShenlong" style="margin: 50px;">
        <div class="card-body" style="color:rgb(255, 255, 255);">
          <h2 class="card-title text-center">Shenlong</h2>
        </div>
      </div>
      <div class="card CShenlong" style="margin: 20px;">
      </div>
    </div>

    <div class="line typing-animation has-shown col-10" style="animation-delay: 7s;">
      <h1 class="display-4 fw-bold">Bem Vindo!</h1>
    </div>
  </header>

  <hr class="featurette-divider container col-3" style="height: 3px;">

  <div #animeScroll class="container col-6 text-center">
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/M6qVj-SaElQ" title="YouTube video" allowfullscreen></iframe>
    </div>
    <p class="fs-1 fw-bold line">Canal do YouTube</p>
    <ul class="social-network">
      <li><a href="https://www.youtube.com/channel/UC8s8eOFvX6pAkokgpfN_QSw" target="_blank" class="icoYoutube"
          title="Youtube"><fa-icon [icon]="faYoutube"></fa-icon></a></li>
    </ul>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7" style="color:#ffffff;">
      <ul class="social-network">
        <h1 class="featurette-heading">Programador Java 8+ <a href="https://github.com/MarcosPontes136/Beer_Api.git"
            target="_blank" class="icoGitHub" title="Github"><fa-icon [icon]="faGitHub"></fa-icon></a>
        </h1>
      </ul>
      <p class="lead">Focado em BackEnd com API REST e testes unitarios usando JUnit.
        <br>Meus últimos projetos foram:<br><br>
        +Implantação do Backend e Frontend usando Angular, Spring Boot e Node.js.<br>
        +Uma API REST para gerenciar pessoas com Spring Boot em Java.<br>
        +Objetivo é testar unilateralmente uma API REST para gerenciamento de estoques de cerveja.
      </p>
    </div>

    <div class="col-md-5 ">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto circle"
        src="../../assets/gokuSuperS.png" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2" style="color:#ffffff;">
      <h1 class="featurette-heading mb-lg-5">Também programo em .NET</h1>
      <p class="lead">Programei bastante usando C# para a faculdade, desde programas criados com ASP.NET Code e MVC,
        até para Windows Forms criando programas para Windows.
        <br>Meu último projeto foi consumindo uma API com dados do Star Wars junto ao SQL Serve.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto circle"
        src="../../assets/gokujoinha.png" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
  </div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <hr class="featurette-divider container col-3" style="height: 3px;">
    <h1 class="display-4 fw-bold" style="font-family: Impact;">Foco em Java</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 whiteText">Hoje me considero um desenvolvedor Java Jr., com foco em Backend.<br>
        Uso principamente o Spring Boot para desenvolver,
        com experiência em projetos próprios de mais ou menos 1 ano e meio estudando e aprendendo constantemente.</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img class="img-fluid border rounded-3 shadow-lg mb-4" src="../../assets/Vegeta.jpg" alt="Example image"
          width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="d-block mx-lg-auto img-fluid circle" src="../../assets/GOKU_FURIOSO.png" alt="Bootstrap Themes"
          loading="lazy">
      </div>
      <div class="col-lg-6 whiteText">
        <h1 class="display-5 fw-bold mb-5">Spring Boot</h1>
        <p class="lead">Entre facilidade e funcionalidade, Spring Boot deixa o Java "Mais fácil", mas nada é um milagre,
          precisa estudar!.<br>
          Alguns framework que uso:<br>
          *Spring Data (Jpa)<br>
          *Spring Cloud<br>
          *Spring Security<br>
          *Spring Web<br>
          *Spring Framework<br>
        </p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider container col-3" style="height: 3px; margin-bottom: 50px;">

  <div class="container-fluid text-center">
    <h1 class="display-4 fw-bold" style="font-family: Impact;">Outras Linguagens</h1>
  </div>
  <div class="row mt-5 mb-4">
    <div class="col-md-4">
      <div class="d-flex justify-content-center">
        <img src="./../../assets/GokuS.png" class="bd-placeholder-img rounded-circle carce" width="180" height="180"
          role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="card-body whiteText">
        <h4 class="card-title text-center" style="font-family: Impact;">Python</h4>
        <p class="card-text text-center">Uma das linguagens mais fácil de aprender, sintaxe simples e objetiva.
          Já programei algumas vezes com ela usando Selenium e Deep learning ou Machine learning,
          e pretendo em um futuro trabalhar na área de Developer Robotics.
          Infelismente tirei alguns projetos do GitHub trabalhando com Python.
        </p>
      </div>
    </div>

    <div class="col-md-4 mt-5 mb-5">
      <div class="d-flex justify-content-center">
        <img src="./../../assets/vegetto.png" class="bd-placeholder-img rounded-circle carce" width="180" height="180"
          role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="card-body">
        <h4 class="card-title text-center" style="font-family: Impact;">Linguagem C</h4>
        <p class="card-text text-center">Já fiz alguns sistemas crud para a faculdade,
          um deles precisei criar do zero o cadastro de pessoas com sintomas de covid e
          para cada paciente tinha uma diretiva correta.
        </p>
        <ul class="social-network text-center">
          <li>
            <a href="https://github.com/MarcosPontes136/CADASTRO_PACIENTES.git" target="_blank" class="icoGitHub" title="Github">
              <fa-icon [icon]="faGitHub"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="d-flex justify-content-center">
        <img src="./../../assets/VegetoSM.png" class="bd-placeholder-img rounded-circle carce" width="180" height="180"
          role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="card-body whiteText">
        <h4 class="card-title text-center" style="font-family: Impact;">Database e Cloud</h4>
        <p class="card-text text-center">Banco de dados é de extrema importancia na criação de programas,
          e por isso uso em grande parte dos projetos o SQL Server, achei o melhor para trabalhar.
          Em relação a parte de nuvem, estou focado em AWS, não posso dizer que sei tudo, mas estou aprendendo cada vez
          mais,
          mas já usei o Heroku para subir alguns projetos em Java.
        </p>
        <ul class="social-network text-center">
          <li>
            <a href="https://github.com/MarcosPontes136" target="_blank" class="icoGitHub" title="Github">
              <fa-icon [icon]="faGitHub"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark button-feed" routerLink='/feed'>Ver os Comentários</button>
    </div>
  </div>
</body>
