<body class="container-fluid" >
  <section [ngClass]="{'banner': isHome, 'active': isActive}">
    <img src="./../../assets/img/girl.png" alt="" class="girl">
    <!-- <div class="divCenter">
      <img src="./../../assets/img/seta-para-baixo.png" alt="" class="setaBaixo" (click)="scrollDown()">
    </div> -->
    <div class="content">
      <div class="contentBx">
        <h4>Olá,</h4>
        <h2>Sou Marcos Pontes</h2>
        <h3>Desenvolvedor Full Stack</h3>
        <p>
          Sou um desenvolvedor full stack com mais de um ano de experiência no mercado, trabalhando na Stefanini. Além disso, tenho mais de dois anos de experiência em projetos independentes.
          Já prestei serviços para o DETRAN do DF, realizando correções, ajustes e criações no backend e frontend. Atualmente, estou trabalhando diretamente com o cliente Banco do Brasil,
          realizando criação e ajustes de formulários em Jasper (Java), HTML e JavaScript.
          Adicionalmente, em parceria com outra equipe, estou envolvido em dois projetos de frontend para o site do Banco, sendo o único responsável pelo frontend,
          desde a criação até a integração com o backend e os ajustes necessários.<br><br>
        </p>
        <a href="#">Hire Me</a>
        <a (click)="mostraPDF()">Download CV</a>
      </div>
    </div>
  </section>
</body>
